.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: white;
}

.homebutton {
    color: white;
}

.homebutton:hover {
    color: gray;
}

.homebutton:active {
    color: blue;
}

.search-form {
    display: flex;
    align-items: center;
}

.search-input {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.search-button {
    background-color: #555;
    color: white;
    border: none;
    padding: 5px 10px;
    margin-left: 5px;
    cursor: pointer;
    border-radius: 4px;
}

.search-button:hover {
    background-color: #777;
}

.auth-buttons button {
    background-color: #555;
    color: white;
    border: none;
    padding: 8px 15px;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 4px;
}

.auth-buttons button:hover {
    background-color: #777;
}
